body{
    min-width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.fixed_header{
    position:fixed;
    top:0;
    width: 100%;
    z-index:1000;    
}

header{
    background-color: #200772;
    margin-top: 0;
}

.content{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 15px;
}





header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo_text{
    margin: 5px;
    color: #D9F0FB;
    font-size: 40px;
    font-family: 'Red Rose', cursive;
    font-weight: 700;
}

.logo_text span{
    color: #3F8FD2;
    font-size: 55px;
}

.fa-ship{
    font-size: 50px;
    color: #D9F0FB;
}



.header_2{
    background-color: #3F8FD2;
}

.header_2 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a_menu{
    text-decoration: none;
    color: #D9F0FB;
    font-size: 14px;
    padding: 10px;
}

.a_menu:hover{
    color: #200772;
}

.search{
    padding: 5px;
}





.main_part{
    margin-top: 180px;
}

.main_part .content{
    display: flex;
    justify-content: space-between;
}

.main_text{
    font-weight: 700;
    font-size: 50px;
    width: 45%;
    color: #200772;
}

table{
    margin-top: 40px;
    width: 60%;
    border: 2px solid black;
    background-color: #3F8FD2;
    color: #D9F0FB;
}

th{
    padding:  10px;
    max-height: 20px;
    background-color: #200772; 
}

tr span{
    text-transform: uppercase;
    font-weight: 600;
}

hr{
    background-color: black;
    height: 1px;
    
}

hr .special{
    height: 2px;
}




.cool_part .content{
    text-align: center;
}


.cool_part input{
    width: 15%;
}

.title{
    text-transform: uppercase;
    color: #200772;
    font-weight: 700;
}

.text_input{
    color: #200772;
}


button{
    margin-top: 20px;
    color: #D9F0FB;
    background-color: #200772;
    border: 2px solid #200772;
    border-radius: 5px;
    width: 20%;
    height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background-color: #D9F0FB;
    color: #200772;
}

.contact{
    background-color: #200772;
    margin-top: 100px;
}

.contact .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_media{
    font-size: 20px;
}

.icon_media{
    padding: 5px 7px;
    border: 2px solid #200772;
    border-radius: 50%;
    width: 25px;
    color: #f3f3f3;
    background-color: #200772;
    margin-bottom: 100px;
    transition: border 1.7s;
    transition: color 1.5s;
    transition: background 1.7s;
}

.icon_media:hover{
    cursor: pointer;
    background-color: #f3f3f3;
    color: #200772;
    border: none;

}


.result, .result_img1, .result_img2, .result_img3, .result_img4{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    color: #200772;
}

.result{
    font-size: 25px;
    font-weight: 700;
}


@media (max-width: 1200px){
    .content{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .content{
        max-width: 750px;
    }
}


@media (max-width: 767px){
    .content{
        max-width: none;
        margin: 0px auto;
    padding: 0 15px;
    }
    
    header{
        display: none;
    }
    
    .search, .home{
        display: none;
    }
    
    .menu{
        height: 30px;
    }
    
    .main_part .content{
        display: block;
    }
    
    .main_text{
        display: none;
    }
    
    table{
        margin: 0 auto;
        width: 100%;
    }
    .cool_part input{
        width: 50%;
    }
    
    button{
        width: 50%;
    }
    
    .cool_part{
        display: block;
        width: 95%;
        margin: auto;
    }
    
    .cool_part .content{
        width: 100%;
        margin: 0 auto;
    }
    
    .contact{
        height: 40px;
        width: 100%;
    }
    
    .logo_text{
        display: none;
    }
}